
<div id="blogpostsContainer">
  {{#each blogposts as |blogpost|}}
  <div class="blogpost container" id="blogpost-{{blogpost.id}}" >

    <div class="" onclick="toggleComments('{{blogpost.id}}')">
      <header class="blogpost-header">
        <h2 id="title-{{blogpost.id}}">{{blogpost.title}}</h2>
        <p>Posted on {{formatDate blogpost.createdAt}}</p>
      </header>
      <p class="blogpost-content" id="content-{{blogpost.id}}">{{blogpost.content}}</p>
    </div>

    <div id="comments-{{blogpost.id}}" class="container comments" style="display: none">
      {{#each blogpost.comments as |commentData|}}
        {{>comment commentData}}
      {{!-- <div class="comment">
        <p>{{comment.content}} created by {{comment.user.username}}</p>
      </div> --}}
      {{/each}}
    </div>
    <button type="button" class="update-btn container" onclick="updateBlogpost('{{blogpost.id}}', event)">Update</button>
    <button type="button" class="delete-btn container" onclick="deleteBlogpost('{{blogpost.id}}', event)">Delete</button>

  </div>
  {{/each}}


</div>
<div class="container newBlogBtn">
  <button id="newBlogBtn"> ➕ New Post</button>
</div>
